@import 'menu';
@import 'body';
@import 'footer';

* {
    margin: 0;
    padding: 0;

}

#p1 {
    margin: 10px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;

}

#p2 {
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: $colorft;
}

