.header {
  background: url(../galeria/postres\ inicio.png) no-repeat center;
  background-size: cover;
  min-height: 80vh;
  font-size: 1.5rem;
  opacity: 100%;
  color: white;
  height: 80%;
}
.header .navbar {
  background-color: transparent !important;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
}
.header .navbar:hover {
  color: #eaa226;
  transition: all 0.2s ease-in-out;
}

.header1 {
  font-size: 1.5rem;
  opacity: 100%;
}
.header1 .navbar {
  background-color: #eaa226 !important;
}
.header1 ul {
  list-style: none;
  padding: 0;
  color: black;
  opacity: 100%;
}
.header1 ul li {
  display: inline-block;
  position: relative;
  align-content: center;
  padding: 10px;
  margin: auto;
}
.header1 ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 2rem;
}

#logo:hover {
  transition: 0.5s;
  transform: rotate(15deg);
}
#logo:active {
  transition: 0.5s;
}

.offcanvas {
  background-color: rgb(7, 5, 26);
}

.nav {
  margin-bottom: 30px;
  padding: bottom 30px;
}

.dropdown-item {
  font-size: 1rem;
}

.navbar-toggler-icon {
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
  font-family: "Cormorant Garamond", serif;
}

h2 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  padding: 30px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

h5 {
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: rgb(7, 5, 26);
}

.link {
  color: #a8b0c5;
  align-content: center;
  list-style: none;
  font-size: 2rem;
  text-align: center;
}

.ubicacion {
  background-color: rgb(218, 209, 209);
  color: black;
}

.container-fluid {
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.contact {
  padding: 0.9rem;
  overflow: hidden;
  color: rgb(18, 19, 19);
}

.contact label,
.contact input,
.contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.contact label {
  font-weight: 700;
}

.contact input:not([type=submit]),
.contact textarea {
  border: none;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: black;
}

.contact textarea {
  min-height: 100px;
}

input[type=submit] {
  padding: 10px;
  border: none;
  color: black;
  font-size: 20px;
}

.btn {
  font-weight: 600;
  color: white;
  background-color: rgb(7, 5, 26);
  border-color: rgb(7, 5, 26);
  border-radius: 0.2rem;
  margin: 10px;
  justify-self: center;
  width: 100%;
  transition: 0.5s;
}
.btn:hover {
  background-color: #eaa226;
}

#formaPresupuesto {
  padding: 10px;
  margin: 10px;
  background-color: #a8b0c5;
  color: white;
}

.button {
  background: #eaa226;
  transition: 0.5s;
}

@media (hover: hover) {
  .button:hover {
    background: #a8b0c5;
    color: #fff;
  }
}
#foto1 {
  padding: 5%;
  max-width: 500px;
  align-self: center;
  justify-self: center;
}

.quienesSomos {
  height: 100%;
  width: 100%;
  color: black;
  background-color: white;
  padding: 2%;
}

.equipo {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #eaa226;
  padding: 2%;
}

.fotoEdward {
  max-width: 520px;
  align-self: center;
  justify-self: center;
  padding-bottom: 3%;
}

.fotoCatering {
  max-width: 450px;
  align-self: center;
  justify-self: center;
  padding-bottom: 10px;
  padding-top: 50px;
  margin: 5%;
}

.servicios {
  height: 100%;
  background-color: #a8b0c5;
  width: 100%;
  color: white;
  padding: 2%;
}

.capacitaciones {
  height: 70%;
  background-color: #eaa226;
  width: 100%;
  color: white;
  padding: 2%;
  font-size: 1.8rem;
}

.formularioCursos {
  height: 100%;
  background-color: #a8b0c5;
  width: 100%;
  color: white;
  padding: 2%;
  font-size: 1.2rem;
}

.accordion-header {
  background-color: white;
  color: black;
}

.accordion-item {
  background-color: white;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.accordion-button {
  background-color: white;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  transition: 0.9s;
}
.accordion-button:hover {
  background-color: #eaa226;
  transition: 0.3s;
  color: black;
}
.accordion-button:active {
  background-color: #eaa226;
  transition: 0.5s;
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: #a8b0c5;
  color: rgb(7, 5, 26);
  box-shadow: 0 1px 2px rgba(7, 5, 26, 0.644), inset 0 0 0 1px #a8b0c5;
}

#carruselEquipo {
  max-width: 500px;
  padding: 10px 0 10px 10px;
  align-self: center;
}
#carruselEquipo .item img {
  max-width: 100%;
  height: auto;
}
#carruselEquipo .control-prev-icon,
#carruselEquipo .carousel-control-next-icon {
  font-size: 1rem;
}

#carruselCreaciones {
  max-width: 500px;
  max-height: 600px;
  padding: 10px 0 10px 10px;
  align-self: center;
}
#carruselCreaciones .item img {
  max-width: 60%;
  height: auto;
}
#carruselCreaciones .control-prev-icon,
#carruselCreaciones .carousel-control-next-icon {
  font-size: 1rem;
}

.tarjetas {
  background-color: #a8b0c5;
  display: flex;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  color: rgb(7, 5, 26);
  font-family: "monserrat", sans-serif;
  transition: 0.6s;
}
.card:hover {
  transform: scale(1.02);
}

.creaciones {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #eaa226;
  padding: 2%;
}

.servicioCatering {
  color: black;
  font-size: 1.2rem;
  font-family: "monserrat", sans-serif;
  padding-top: 30px;
}
.servicioCatering ul {
  list-style: square;
  padding-left: 20px;
  color: black;
  margin: 10px;
  padding-top: 20px;
}
.servicioCatering ul li {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.formCat {
  background-color: #a8b0c5;
  max-width: 200vh;
  margin: 5%;
  padding: 5%;
}

.formContacto {
  background-color: #eaa226;
  max-width: 200vh;
  margin: 5%;
  padding: 5%;
}

.formulario {
  height: 100%;
  color: rgb(7, 5, 26);
  padding-top: 20px;
  background-color: rgba(168, 176, 197, 0.4588235294);
}

.formCont {
  background-color: #eaa226;
  max-width: 200vh;
  margin: 5%;
  padding: 5%;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #e4be91;
  color: white;
  width: 100%;
  padding: 5%;
}

.containerfooter {
  background-color: rgb(7, 5, 26);
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerfooter a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  width: 20%;
  text-align: center;
  display: block;
  padding: 8px 0;
}
.containerfooter a:hover {
  color: #e4be91;
  transition: 0.5s;
  transform: rotate(15deg);
}
.containerfooter a:active {
  color: #eaa226;
  transition: 0.5s;
}

#copyRight {
  text-align: center;
  background-color: #e4be91;
  color: rgb(7, 5, 26);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

#p1 {
  margin: 10px;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

#p2 {
  margin: 10px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: rgb(7, 5, 26);
}/*# sourceMappingURL=estilo.css.map */